.heroheader {
  font-size: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-height: 45rem;
  border-radius: 15px;
  /* border: 1px solid var(--primary-text-color); */
  width: 100%;
}

@media (max-width: 850px) {
  .heroheader {
    font-size: 6rem;
  }
}
@media (max-width: 875px) {
  .heroheader {
    font-size: 4rem;
  }
}
@media (max-width: 775px) {
  .heroheadcontainer,
  .heroheadcontainerBtm {
    gap: 1rem;
  }
}
@media (max-width: 480px) {
  .heroheader {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    /* border: 1px solid var(--primary-text-color); */
    width: 100%;
  }
}

.heroheadcontainer,
.heroheadcontainerBtm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.heroheadcontainerBtm {
  margin-bottom: 15rem;
}
.heroheadcontainerbtm {
  display: flex;
  align-content: center;
  margin: 10rem;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid var(--primary-border-color);
}
@media (max-width: 550px) {
  .heroheadcontainerBtm {
    margin: 0rem;
  }
}

.heroImgAdam {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.heroimg {
  width: 125%;
  transform: translateX(-20%);
}

.heroname {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 110%;
  justify-content: center;
  color: black;
  margin-top: 4rem;
}

.firstName {
  /* background-color: #e01a4f; */
  z-index: 10;
  border-radius: 15px;
  padding: 1rem;
  background-color: transparent;
}

.lastName {
  /* background-color: #e01a4f; */
  z-index: 10;
  border-radius: 15px;
  transform: translate(6rem, -2rem);
  padding: 1rem;
  background-color: transparent;
}
.socialsmalltext1 {
  font-size: 1rem;
  font-weight: 500;
  font-variant: small-caps;
}
.sociallargetext1 {
  font-size: 4rem;
  font-weight: 100;
}
.socialsmalltext {
  font-size: 1rem;
  font-weight: 500;
  font-variant: small-caps;
}
.sociallargetext {
  font-size: 4rem;
  font-weight: 100;
  transition: all 0.5s;
}
@media (max-width: 850px) {
  .socialsmalltext1 {
    font-size: 0.9rem;
  }
  .sociallargetext1 {
    font-size: 3rem;
  }
  .socialsmalltext {
    font-size: 0.9rem;
  }
  .sociallargetext {
    font-size: 3rem;
  }
}
@media (max-width: 775px) {
  .socialsmalltext1 {
    font-size: 0.8rem;
  }
  .sociallargetext1 {
    font-size: 2.5rem;
  }
  .socialsmalltext {
    font-size: 0.8rem;
  }
  .sociallargetext {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .socialsmalltext1 {
    font-size: 0.6rem;
  }
  .sociallargetext1 {
    font-size: 2rem;
  }
  .socialsmalltext {
    font-size: 0.6rem;
  }
  .sociallargetext {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .socialsmalltext1 {
    font-size: 0.5rem;
  }
  .sociallargetext1 {
    font-size: 1.5rem;
  }
  .socialsmalltext {
    font-size: 0.5rem;
  }
  .sociallargetext {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .socialsmalltext1 {
    font-size: 0.35rem;
  }
  .sociallargetext1 {
    font-size: 1.55rem;
  }
  .socialsmalltext {
    font-size: 0.35rem;
  }
  .sociallargetext {
    font-size: 1.55rem;
  }
}

.linkedinhero1 {
  border: 1px solid var(--primary-border-color);
  border-radius: 15px;
  padding: 1rem;
  text-align: right;
  transition: all 0.5s;
}
.linkedinhero {
  border: 1px solid var(--primary-border-color);
  border-radius: 15px;
  padding: 1rem;
  text-align: right;
  transition: all 0.5s;
  cursor: pointer;
}
.linkedinhero:hover .socialsmalltext {
  color: #e01a4f;
  transition: all 0.5s;
}
.linkedinhero:hover .sociallargetext {
  transform: scale(1.05) translateX(-0.3rem);
  transition: all 0.5s;
}
.linkReset {
  text-decoration: none;
  color: var(--primary-text-color);
}

.lefthero {
  border: 1px solid var(--primary-border-color);
  border-radius: 15px;
  padding: 1rem;
}

@media (max-width: 480px) {
  .linkedinhero {
    border-radius: 10px;
    padding: 0.5rem;
  }
  .lefthero {
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    padding: 0.5rem;
  }
  .linkedinhero1 {
    padding: 0.5rem;
    border-radius: 10px;
  }
}

.leftherobtm {
  display: flex;
  margin: auto;
}

.sociallargetextbtm {
  font-size: 4rem;
  font-weight: 100;
  padding-right: 2rem;
}

.main {
  padding: 5rem;
}
@media (max-width: 775px) {
  .main {
    padding: 2rem;
  }
}
.svgPaintBrush1,
.svgPaintBrush2 {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  width: 50%;
  height: 30%;
}
@media (max-width: 850px) {
  .svgPaintBrush1,
  .svgPaintBrush2 {
    width: 40%;
    height: 20%;
  }
}
@media (max-width: 775px) {
  .svgPaintBrush1,
  .svgPaintBrush2 {
    width: 32.5%;
    height: 20%;
  }
}
@media (max-width: 550px) {
  .svgPaintBrush1,
  .svgPaintBrush2 {
    width: 42%;
    height: 22%;
  }
}
@media (max-width: 375px) {
  .svgPaintBrush1,
  .svgPaintBrush2 {
    width: 50%;
    height: 20%;
  }
}

.svgDownArrow {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  width: 35%;
  height: 60%;
  right: 20%;
  transform: rotate(-25deg) translate(0rem, 4rem);
}

@media (max-width: 850px) {
  .svgDownArrow {
    width: 35%;
    height: 60%;
    right: 20%;
    transform: rotate(-25deg) translate(2rem, 2rem);
  }
}
@media (max-width: 550px) {
  .svgDownArrow {
    width: 35%;
    height: 38%;
    right: 20%;
    transform: rotate(-25deg) translate(2rem, 2rem);
  }
}
@media (max-width: 550px) {
  .svgDownArrow {
    width: 35%;
    height: 38%;
    right: 20%;
  }
}
.svgLoopDown {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  width: 35%;
  height: 60%;
  right: 20%;
  transform: rotate(-25deg) translate(0rem, 4rem);
}

.svgPaintBrush1 {
  transform: translate(1rem, -5rem);
}

.svgPaintBrush2 {
  transform: translate(12rem, 4rem);
}

@media (max-width: 850px) {
  .svgPaintBrush1 {
    transform: translate(1rem, -3rem);
  }

  .svgPaintBrush2 {
    transform: translate(8rem, 2rem);
  }
}
@media (max-width: 450px) {
  .svgPaintBrush1 {
    transform: translate(1rem, -3rem);
  }

  .svgPaintBrush2 {
    transform: translate(7rem, 1rem);
  }
}
